/* ------------------------------ Mobile First Design ------------------------------ */

/* -------------------- 
    Variables
---------------------*/
:root {
    /* Primary colors */
    --clr-prim-1: hsl(192, 37%, 48%);
    --clr-prim-2: hsl(268, 34%, 53%);
    --clr-prim-3: hsl(240, 21%, 20%);
    --clr-prim-4: hsl(240, 10%, 57%);

    /* Secondary colors */
    --clr-sec-1: hsl(192, 90%, 77%);
    --clr-sec-2: hsl(268,100%,86%);
    --clr-sec-3: hsl(0, 0%, 98%);

    /* Fonts */
    --main-font: 'Red Hat Display', sans-serif;
}

/* -------------------- 
    Global Styles
---------------------*/
*, ::before, ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: var(--main-font);
    font-size: 16px;
    text-align: center;
}
header {
    margin: 48px auto 54px auto;
}
h1 {
    font-weight: 900;
    font-size: 40px;
    margin-bottom: 15px;
    color: var(--clr-prim-3);
}
h2 {
    font-size: 2rem;
    margin-bottom: 25px;
    color: var(--clr-prim-3);
}
h3 {
    color: var(--clr-prim-1);
    font-size: 1rem;
    margin-bottom: 29px;
}
p {
    font-weight: 500;
    line-height: 1.75;
    color: var(--clr-prim-4);
}
button {
    color: var(--clr-sec-3);
    border: none;
    border-radius: 29px;
    font-size: 16px;
}
button span {
    color: var(--clr-sec-1);
    margin-left: 11px;
}

/* -------------------- 
    Class Styles
---------------------*/

/* hero imgs */
.hero-imgs {
    display: flex;
    justify-content: center;
    align-items: center;
}
.hero-imgs img {
    width: 56%
}
.desktop-only {
    display: none;
}

/* section-01 */
.section-01 {
    margin: 48px 24px 64px 24px;
}
.buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 37px;
}
.buttons button:first-child {
    background-color: var(--clr-prim-1);
    margin-bottom: 16px;
    padding: 21px 40px;
}
.buttons button:last-child {
    background-color: var(--clr-prim-2);
    padding: 21px 32px;
}

/* section-02 */
.section-02 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 24px;
    margin-right: 24px;
}
.transition-img {
    margin-top: 64px;
    margin-bottom: 64px;
}
.line {
    height: 84px;
    border-left: solid 1px var(--clr-prim-4);
    margin-left: 31px;
}
.num {
    border: solid 1px var(--clr-prim-4);
    border-radius: 50%;
    padding: 19px 23px;
    color: var(--clr-prim-4);
}
.section-02-imgs {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    column-gap: 25px;
    row-gap: 25px;
    grid-template-areas: 
        "ltop rtop"
        "lbot rbot";
    margin-bottom: 64px;
}
.section-02-imgs img {
    width: 100%;
    border-radius: 8px;
}
.img-1 {
    grid-area: ltop;
}
.img-2 {
    grid-area: rtop;
}
.img-3 {
    grid-area: lbot;
}
.img-4 {
    grid-area: rbot;
}
/* section-03 */
.section-03 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-top: 200px;
}
.float-img {
    position: absolute;
    bottom: 387px;
}
.float-img .num {
    background-color: var(--clr-sec-3);
}
.section-03-txt {
    padding-top: 64px;
    background-image: url(assets/mobile/image-footer.jpg); /* fallback */
    background-image: linear-gradient(rgba(77, 150, 168, 0.8), rgba(77, 150, 168, 0.8)),
    url(assets/mobile/image-footer.jpg);
    background-size: cover;
    background-repeat: none;
    padding-left: 24px;
    padding-right: 24px;
}
.section-03-txt h2,
.section-03-txt p {
    color: var(--clr-sec-3);
}
.section-03-txt h2 {
    margin-bottom: 17px;
}
.section-03-txt p {
    margin-bottom: 34px;
}
.section-03-txt button {
    background-color: var(--clr-prim-2);
    margin-bottom: 72px;
    padding: 21px 40px;
}
.section-03-txt span {
    color: var(--clr-sec-2);
}

/* ------------------------------ Tablet Design ------------------------------ */
@media screen and (min-width: 700px) {
    /* -------------------- 
        Global Styles
    ---------------------*/
    header {
        margin: 48px auto 64px auto;
    }
    h1 {
        font-size: 48px;
    }
    /* -------------------- 
        Class Styles
    ---------------------*/

    /* section-01 */
    .section-01 {
        margin: 72px 155px 80px 155px;
    }
    .buttons {
        flex-direction: row;
    }
    .buttons button:first-child {
        margin-bottom: 0;
        margin-right: 16px;
    }

    /* section-02 */
    .section-02-txt {
        margin-left: 98px;
        margin-right: 98px;
    }
    .section-02-txt h2 {
        margin-left: 64px;
        margin-right: 64px;
    }
    .transition-img {
        margin-top: 0px;
        margin-bottom: 67px;
    }
    .section-02-imgs {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        column-gap: 15px;
        grid-template-areas: 
            "ltop rtop lbot rbot";
        margin-bottom: 48px;
    }

    /* section-03 */
    .float-img {
        bottom: 314px;
    }
    .section-03-txt {
        padding-left: 98px;
        padding-right: 98px;
        background-image: url(assets/tablet/image-footer.jpg); /* fallback */
        background-image: linear-gradient(rgba(77, 150, 168, 0.8), rgba(77, 150, 168, 0.8)),
        url(assets/tablet/image-footer.jpg);
    }
}